/data/
__pycache__/
/trained_models/
/notebooks/.ipynb_checkpoints/
/notebooks/trained_models/
/notebooks/data/
/notebooks/signs_model_10_efficientnetv2-s/
/notebooks/mp_hand_gesture/
/notebooks/data/
/.idea/
debug.log